<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Create User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Création d'un utilisateur</h1>
    <nav>
        <div><a href="/home">Liste des Utilisateurs</a></div>
    </nav>



    <script src="../js/my-script.js"></script>
</body>

</html>