<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Utilisateurs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Liste d'utilisateurs</h1>
    <nav>
        <a href="/home">Accueil</a>
        <a href="/users">Liste d'utilisateurs</a>
        <a href="/create-user">Créer un utillisateur</a>
    </nav>
    <ul>
        <% users.forEach(user=> { %>
            <li>
                <%= user.name %>
            </li>
            <% }); %>
    </ul>
</body>

</html>