<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tâches de <%= user.name %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Tâches de <%= user.name %>
    </h1>
    <nav>
        <a href="/home">Accueil</a>
        <a href="/users">Liste d'utilisateurs</a>
        <a href="/create-user">Créer un utilisateur</a>
    </nav>
    <ul>
        <% user.todos.forEach(todo=> { %>
            <li>
                <%= todo.title %> (<%= todo.status %>)
            </li>
            <% }); %>
    </ul>
</body>

</html>